body {
    background-color: black;
    margin: 0;
    font-family:"Avenir","Monserrat",sans-serif;
}
h1 {
    text-align: center;
    color: white;
    background-color: steelblue;
    margin: 0;
    padding: 20px 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height:1.1;
    transition : all 0.3s;
}

button {
    border: none;
    background-color: none;
    text-transform: uppercase;
    height: 100%;
    font-family: 700;
    font-size: inherit;
    font-weight: bolder;
    color: steelblue;
    letter-spacing: 1px;
    outline: none;
}

button:hover {
    color: white;
    background-color: steelblue;
}
.selected{
    color: white;
    background-color: steelblue;
}
.square {
    width: 30%;
    padding-bottom: 30% ;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 1s;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
}

#colorDisplay {
    font-size: 200%;
}

#container {
    max-width: 600px;
    margin : 20px auto;
}

#message {
    display: inline-block;
    width: 20%;
}

#stripe {
    background-color:white;
    color: black;
    height: 1.9em;
    text-align: center;
}